:root {
  text-rendering: optimizeSpeed;
  --white: rgb(255, 255, 255);
  --burnt-orange: rgb(191, 87, 0);
  --dark-blue: rgb(16, 0, 36);
  --primary-font: 'Holtwood One SC', serif;
  --secondary-font: 'Tenor Sans', sans-serif;
}

/* Footer Styles */
#footer {
  display: flex;
  flex-direction: column;
  width: 100%
}
#credits-text {
  position: absolute;
  align-self: center;
  bottom: 20px;
  font-family: var(--secondary-font);
  color: var(--burnt-orange);
  /* animation */
  animation-name: fade-in;
  animation-duration: 1s;
  align-items: center;
}

/* Primary orientation */
@media (orientation: landscape) {
  /* Credits Styles */
  #credits-text {
    font-size: 1.5vw;
  }

  /* Header Styles */
  #header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* animation */
    animation-name: fade-in;
    animation-duration: 1s;
    align-items: center;
  }
  #header-text {
    margin: 0px;
    /* margin-bottom: 15px; */
    margin-right: 50px;
    vertical-align: middle;
    font-size: 6vw;
    color: var(--burnt-orange);
    font-family: var(--primary-font);
  }
  #header-logo-container {
    display: flex;
    align-items: center;
  }
  #header-logo {
    width: 10vw;
  }

  /* Button Styles */
  #button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    cursor: pointer;
    /* animation */
    animation-name: fade-in;
    animation-duration: 1s;
  }

  /* when button is selected */
  #button:hover {
    opacity: 0.8;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
  }
  #button-container {
    display: flex;
    align-items: center;
    width: 70%;
    height: 8vw;
    text-align: center;
    background-color: var(--burnt-orange);
  }
  #button-text {
    margin-left: 25px;
    font-size: 3.5vw;
    color: var(--white);
    font-family: var(--primary-font);
  }
}

/* Mobile orientation */
@media (orientation: portrait) {
  /* Credits Styles */
  #credits-text {
    font-size: 2.25vw;
    bottom: 10%;
  }

  /* Header Styles */
  #header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* animation */
    animation-name: fade-in;
    animation-duration: 1s;
    align-items: center;
  }
  #header-text {
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 12vw;
    color: var(--burnt-orange);
    font-family: var(--primary-font);
  }
  #header-logo-container {
    display: flex;
    align-items: center;
  }
  #header-logo {
    width: 20vw;
  }

  /* Button Styles */
  #button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    cursor: pointer;
    /* animation */
    animation-name: fade-in;
    animation-duration: 1s;
  }

  /* when button is selected */
  #button:hover {
    opacity: 0.8;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
  }
  #button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 15vw;
    background-color: var(--burnt-orange);
    align-content: center;
    text-align: center;
  }
  #button-text {
    /* margin-left: 25px; */
    margin: 0px;
    font-size: 5vw;
    margin-top: 3vw;
    color: var(--white);
    font-family: var(--primary-font);
  }
}

/* custom fade in animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}
