:root {
  text-rendering: optimizeSpeed;
  --white: rgb(255, 255, 255);
  --burnt-orange: rgb(191, 87, 0);
  --dark-blue: rgb(16, 0, 36);
}

/* Header Styles */
#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#header-text {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
  font-size: 138px;
  color: var(--burnt-orange);
}
#header-logo-container {
  display: flex;
  align-items: center;
}
#header-logo {
  width: 300px;
  height: 150px;
}

/* Button Styles */
#button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#button-container {
  display: flex;
  align-items: center;
  width: 70%;
  height: 125px;
  text-align: center;
  background-color: var(--burnt-orange);
}
#button-text {
  margin-left: 25px;
  font-size: 72px;
  color: var(--white);
}
