:root {
  text-rendering: optimizeSpeed;
  --white: rgb(255, 255, 255);
  --burnt-orange: rgb(191, 87, 0);
  --dark-blue: rgb(16, 0, 36);
  --primary-font: 'Holtwood One SC', serif;
  --secondary-font: 'Syncopate', sans-serif;
}

/* main */
main {
  display: flex;
  justify-content: center;
}

/* content */
#content {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: auto;
}

/* header */
#header {
  display: flex;

  /* animation */
  animation-name: fade-in;
  animation-duration: 1s;
}
#header-container {
  display: flex;
  width: 100%;
  height: 125px;
  text-align: left;
  align-items: center;
  background-color: var(--burnt-orange);
}
#header-text {
  margin-left: 25px;
  font-size: 64px;
  color: var(--white);
  font-family: var(--primary-font);
}

/* filters */
#filter:hover {
  opacity: 0.8;
  filter: alpha(opacity=50);
}
#filter {
  display: flex;
  margin-top: 25px;

  /* animation */
  animation-name: fade-in;
  animation-duration: 1s;
}
#filter-container {
  display: flex;
  align-items: center;
  width: 25%;
  height: 50px;
  text-align: center;
  background-color: var(--burnt-orange);
}
#filter-text {
  margin-left: 25px;
  font-size: 24px;
  color: var(--white);
  font-family: var(--primary-font);
}

/* custom fade in animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}
