:root {
  text-rendering: optimizeSpeed;
  --white: rgb(255, 255, 255);
  --burnt-orange: rgb(191, 87, 0);
  --dark-blue: rgb(16, 0, 36);
  --light-blue: #1852B3;
  --primary-font: 'Holtwood One SC', serif;
  --secondary-font: 'Tenor Sans', sans-serif;
}

/* main */
main {
  display: flex;
  justify-content: center;
}

/* content */
#content {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: auto;
}

/* standard button */
#standard-btn {
  color: var(--white);
  background-color: var(--burnt-orange);
  border-color: var(--burnt-orange);
  border-radius: 5px;
  cursor: pointer;
}

/* header */
#header {
  display: flex;

  /* animation */
  animation-name: fade-in;
  animation-duration: 1s;
}
#header-container {
  display: flex;
  width: 100%;
  height: 9vw;
  justify-content: center;
  align-items: center;
  background-color: var(--burnt-orange);
}
#header-text {
  margin-left: 25px;
  font-size: 3vw;
  color: var(--white);
  font-family: var(--primary-font);
}

/* nutrition facts */
#nutrition-facts-desktop {
  display: flex;
  flex-basis: 35%;
  margin: 20px;
  width: 100%;
  height: 325px;
  background-color: var(--white);
  border-color: black;
  border-width: thick;
  border-style: solid;
}

#nutrition-facts-mobile {
  display: none;
}
#nutrition-facts-container {
  font-family: var(--secondary-font);
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px;
}
#nutrition-facts-title {
  font-weight: 1000;
  font-size: 24px;
}
.nutrition-subtext {
  font-size: 12px;
  text-align: justify;
}
#line-thick {
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
  background-color:black;
}
#line-thin {
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
  background-color:black;
}

/* menu */
#menu {
  display: flex;
}

/* search */
#search-container {
  margin-top: 0.50vw;

  /* animation */
  animation-name: fade-in;
  animation-duration: 1s;
}
#search-input-text {
  font-family: var(--secondary-font);
  width: 100%;
  padding: 5px;
}

/* filters */
#filters {
  display: flex;
  flex-direction: column;
  flex-basis: 15%
}
#filter:hover {
  opacity: 0.8;
  filter: alpha(opacity=50);
}
#filter {
  cursor: pointer;

  /* animation */
  animation-name: fade-in;
  animation-duration: 1s;
}
#filter-container {
  display: flex;
  align-items: center;
  text-align: center;
  height: 3vw;
  background-color: var(--burnt-orange);
}
#filter-image {
  width: 32px;
  height: 32px;
  margin-left: .5vw;
}
#filter-text {
  margin-left: .5vw;
  font-size: .75vw;
  color: var(--white);
  font-family: var(--primary-font);
}

/* items */
#items {
  font-family: var(--secondary-font);
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-top: 15px;
}
#items-table-container {
  height: 500px;
  overflow-y: scroll;
}
#items-table {
  margin-top: 10px;
  margin-left: 20px;
}
#item-row {
  display: flex;
  flex-direction: row;
}
#item-text {
  color: var(--light-blue);
  cursor: pointer;
}
#item-image {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}
#item-step-container {
  margin-left: 10px;
}
#item-quantity-text {
  font-family: var(--secondary-font);
  color: var(--burnt-orange);
}

/* total nutrition */
#total-nutrition-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  /* animation */
  animation-name: fade-in;
  animation-duration: 1s;
}
#total-nutrition-tooltip {
  font-family: var(--secondary-font);
  font-size: 1vw;
  color: var(--burnt-orange);
}
.total-nutrition-btn {
  margin-right: 5px;
}

/* Mobile, Mobile Landscape, or Tablet orientation */
@media (orientation: portrait),
(orientation: landscape) and (min-width: 321px) and (max-width: 1024px) {
  /* header */
  #header-container {
    background-color: transparent;
  }
  #header-text {
    font-size: 4vw;
    color: var(--burnt-orange);
  }

  /* content */
  #content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  /* nutrition facts */
  #nutrition-facts-desktop {
    display: none;
  }

  #nutrition-facts-mobile {
    display: flex;
    position: absolute;
    bottom: 0px;
    margin: 20px;
    margin-top: 100px;
    width: 95%;
    height: 200px;
    background-color: var(--white);
    border-color: black;
    border-width: thick;
    border-style: solid;
  }

  #nutrition-facts-title {
    font-size: 16px;
  }
  .nutrition-subtext {
    font-size: 10px;
  }

  /* filter */
  #filter {
    margin-top: 1.5vw;
    cursor: pointer;

    /* animation */
    animation-name: fade-in;
    animation-duration: 1s;
  }
  #filter-container {
    height: 4.5vw;
  }
  #filter-image {
    width: 3vw;
    height: 3vw;
    margin-left: 4px;
  }
  #filter-text {
    margin-left: 1vw;
    font-size: 2vw;
    color: var(--white);
    font-family: var(--primary-font);
  }

  /* items */
  #items {
    height: 500px;
  }
  #items-table {
    margin-left: 8px;
  }
  #item-row {
    flex-direction: column;
    margin-bottom: 8px;
  }
  #item-image {
    width: 16px;
    height: 16px;
    margin-left: 0px;
    margin-right: 4px;
  }
  #item-step-container {
    margin-top: 4px;
    margin-left: 0px;
  }

  /* total nutrition */
  #total-nutrition-container {
    flex-direction: column;
  }
  #total-nutrition-tooltip {
    font-size: 2.5vw;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

/* custom fade in animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}
