:root {
  text-rendering: optimizeSpeed;
  --burnt-orange: rgb(191, 87, 0);
  --dark-blue: rgb(16, 0, 36);
}

/* All header text will be burnt orange, but two different fonts will be used
in order to dicern title from subtitle */
#header {
  color: var(--burnt-orange);
  width: 65%;
  height: 25%;
  position: relative;
  top: 4vh;
  left: 4vw;
}

.title {
  font-family: Impact;
  font-size: 128px;
  margin: 0;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0;
  margin-left: 5px;
}

.menu {
  align-content: center;
  align-items: center;
  color: white;
  font-family: Impact;
  font-size: 96px;
}

.menu-item {
  text-align: left;
  text-indent: 35px;
  width: 75%;
  height: 150px;
  position: relative;
  background-color: var(--burnt-orange);
  left: 4vw;
}

.lunch {
  width: 75%;
  height: 150px;
  position: relative;
  background-color: var(--burnt-orange);
  left: 4vw;
}

.dinner {
  width: 75%;
  height: 150px;
  position: relative;
  background-color: var(--burnt-orange);
  left: 4vw;
}
